* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Alegreya Sans", sans-serif;
}
.header {
  background: radial-gradient(rgba(167, 125, 48, 0.8), rgba(255, 69, 0, 0.5));
  /* height: 100vh ; */
}
.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.logo {
  display: flex;
  padding-left: 20px;
  margin-top: 20px;
}

.navbar {
  display: flex;
  text-align: center;
}

nav {
  width: 500px;
  margin-left: 650px;
  display: flex;
  align-items: right;
  margin-top: -100px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  display: flex;
  text-decoration: none;
  margin: 20px;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #555;
  cursor: progress;
}
a:hover {
  cursor: pointer;
}
p {
  color: #555;
  margin-left: 60px;
}

.row {
  display: flex;
  align-items: center;
  /* margin-top: -300px; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  padding: 50px 0;
}

.col-2 img {
  max-width: 100%;
  padding: 50% 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  margin-left: 60px;
}

.btn {
  padding: 8px 30px;
  display: inline-block;
  background: orangered;
  color: white;
  margin: 30px 0;
  margin-left: 70px;
  border-radius: 30px;
  transition: background 0.8s ease-in-out;
}

.cart {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0 0 2px;
}

.btn:hover {
  color: #555;
  background-color: rgb(226, 242, 44);
}

.new-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categories {
  width: 100%;
  margin: 70px 0px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.8s;
}

.col-4 img {
  width: 100%;
}

.checked {
  color: orange;
}

.price{
  text-align: left;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  line-height: 50px;
  position: relative;
  color: #555;
}

.title::after {
  content: "";
  background: orangered;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-15px);
}

.offer {
  background: radial-gradient(rgba(167, 125, 48, 0.8), rgba(255, 69, 0, 0.5));
  margin-top: 80px;
  padding: 30px 0;
  /* height: 500px; */
}

 .exclusive {
  /* margin-top:  -330px;  */
}

.small {
  color: #555;
  font-size: 12px;
}

.testimonial {
  padding-top: 100px;
}
.testimonial-row {
  margin-top: 20px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 30px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-20px);
}

.quote {
  text-align: center;
  font-size: 12px;
  color: #777;
  margin: 12px 0;
}

.fa-quote-left {
  font-size: 12px;
  color: #ff4500;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

/* Foooter */

.footer {

  width: 100%;
  margin: auto;
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px 0;
}
  .footer p{
    color: #8a8a8a;
  }

  .footer h3{
    color: #fff;
    margin-bottom: 20px;
}
  .footer-col-3
.footer-col-2, .footer-col-1, .footer-col-4 {
  min-width: 250px;
  margin-bottom: ;
}

.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
  /* margin-top: -70px; */
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 10px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
  margin-top: -70px;
}

ul {
  list-style-type: none;
}

.footer-p{
  padding-bottom: 20px;
  margin-left: 0;
}



.app-logo img{
  width: 140px;
}

.footer hr{
  border: .5px solid #b5b5b5;
  height: 1px;
  width: 100% ;
  margin: 20px 0;
}

.copyright{
  text-align: center;
}

.menu-icon{
  width: 28px;
  height: 18px;
  margin-left: 20px;
  margin-top: 18px;
  display: none;
}

/* products section */

.product-row{
  margin-top: 120px;
}
 
.sorting-row{
  margin: 100px auto 50px;
  justify-content: space-around;
}

select{
  border: 1px solid #ff524b;
  padding: 5px;
}

select:focus{
  outline: 0;
}

.page-btn{
  margin: 0 auto 80px;
}

.page-btn span{
  display: inline-block;
  border: 1px solid #ff524b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 3s ease-in-out;
}

.page-btn span:hover{
  background-color: #ff524b;
}
@media only screen and (max-width: 600px){

  nav ul {
    position: absolute;
    top: 70px;
    left: 290px;
    background: #333;
    width: 40%;
    display: block; 
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a{
    color: #fff;
  }

  .menu-icon{
    display: block;
    cursor: pointer;
  }

  .container {
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
  }
  .logo {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 20px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }

  .cart{
   margin-left: 10px;
  }

  .icon{
    position: absolute;
    left: 400px
    
  }

  
/* @media only screen and (max-width: 600px) {  */
  .header{
    background: radial-gradient(rgba(167, 125, 48, 0.8), rgba(255, 69, 0, 0.5));
    height: 200vh ;
  }
  .image1{
    margin-top: -200px;
  }
  .row{
    margin-top: 100px;
    text-align: center;
  }
  .col-2, .col-3, .col-4 {
    flex-basis: 100%;
  }

  .footer-row{
    flex-basis: 100%;
    height: 100vh;
  }
  .testimonial-row{
    margin-top: 10px;
  }

  .offer{
  margin-top: 80px;
  padding: 30px 0;
  height: 1100px;
  }

  .exclusive {
    margin-top:  -210px; 
  }
  .col-2-offer{
    margin-top: -200px;
  }

  .footer-col-3, .footer-col-4{
    display:  block;
  }
}
  

/* 
@media only screen and (max-width: 600px) { 
  .header{
    background: radial-gradient(rgba(167, 125, 48, 0.8), rgba(255, 69, 0, 0.5));
    height: 200vh ;
  }
  .image1{
    margin-top: -200px;
  }
  .row{
    margin-top: 100px;
    text-align: center;
  }
  .col-2, .col-3, .col-4 {
    flex-basis: 100%;
  }

  .footer-row{
    flex-basis: 100%;
    height: 100vh;
  }
  .testimonial-row{
    margin-top: 10px;
  }

  .offer{
  margin-top: 80px;
  padding: 30px 0;
  height: 1100px;
  }

  .exclusive {
    margin-top:  -210px; 
  }
  .col-2-offer{
    margin-top: -200px;
  }

  .footer-col-3, .footer-col-4{
    display:  block;
  }
} */